code/Wcf_02/Wcf_Odjemalec/Connected Services/SmartMowerServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmartMowerServiceLibrary.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmartMowerServiceLibrary.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SmartMower">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatteryAutoCharge" type="xs:boolean" />
      <xs:element minOccurs="0" name="BatteryLevel" type="xs:int" />
      <xs:element minOccurs="0" name="CuttingLevel" type="xs:double" />
      <xs:element minOccurs="0" name="IsCharging" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMoving" type="xs:boolean" />
      <xs:element minOccurs="0" name="LightSensor" nillable="true" type="tns:LightSensor" />
      <xs:element minOccurs="0" name="MotionSensor" nillable="true" type="tns:MotionSensor" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoiseLevel" type="xs:int" />
      <xs:element minOccurs="0" name="Power" type="xs:boolean" />
      <xs:element minOccurs="0" name="Producer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RainSensor" nillable="true" type="tns:RainSensor" />
      <xs:element minOccurs="0" name="Serial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemperatureSensor" nillable="true" type="tns:TemperatureSensor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SmartMower" nillable="true" type="tns:SmartMower" />
  <xs:complexType name="LightSensor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Sensor">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsLight" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LightSensor" nillable="true" type="tns:LightSensor" />
  <xs:complexType name="Sensor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sensor" nillable="true" type="tns:Sensor" />
  <xs:complexType name="MotionSensor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Sensor">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsObstacleOnFront" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MotionSensor" nillable="true" type="tns:MotionSensor" />
  <xs:complexType name="RainSensor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Sensor">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsRain" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RainSensor" nillable="true" type="tns:RainSensor" />
  <xs:complexType name="TemperatureSensor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Sensor">
        <xs:sequence>
          <xs:element minOccurs="0" name="Temperature" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TemperatureSensor" nillable="true" type="tns:TemperatureSensor" />
  <xs:complexType name="ResponseMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessStatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseMessage" nillable="true" type="tns:ResponseMessage" />
  <xs:complexType name="InvalidData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidData" nillable="true" type="tns:InvalidData" />
</xs:schema>