code/Wcf_02/Wcf_Odjemalec/Connected Services/SmartMowerServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51769/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmartMowerServiceLibrary.DataContracts" />
  <xs:element name="GetState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmartMowerServiceLibrary.DataContracts" minOccurs="0" name="GetStateResult" nillable="true" type="q1:SmartMower" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMowerRunningStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMowerRunningStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmartMowerServiceLibrary.DataContracts" minOccurs="0" name="GetMowerRunningStatusResult" nillable="true" type="q2:ResponseMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RaiseCuttingLevel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RaiseCuttingLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmartMowerServiceLibrary.DataContracts" minOccurs="0" name="RaiseCuttingLevelResult" nillable="true" type="q3:ResponseMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LowerCuttingLevel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LowerCuttingLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmartMowerServiceLibrary.DataContracts" minOccurs="0" name="LowerCuttingLevelResult" nillable="true" type="q4:ResponseMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPowerOnOff">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBatteryAutoChargeOnOff">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMotionSensorData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMotionSensorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SmartMowerServiceLibrary.DataContracts" minOccurs="0" name="GetMotionSensorDataResult" nillable="true" type="q5:MotionSensor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemperatureSensorData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemperatureSensorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SmartMowerServiceLibrary.DataContracts" minOccurs="0" name="GetTemperatureSensorDataResult" nillable="true" type="q6:TemperatureSensor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLightSensorData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLightSensorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SmartMowerServiceLibrary.DataContracts" minOccurs="0" name="GetLightSensorDataResult" nillable="true" type="q7:LightSensor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRainSensorData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRainSensorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SmartMowerServiceLibrary.DataContracts" minOccurs="0" name="GetRainSensorDataResult" nillable="true" type="q8:RainSensor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verified" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendErrorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>